<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Song Recommendations</title>

<style>
h1{color: #006699}
h3{color: #0099e6}
h4{color: #006969}

a:link, a:visited, a:hover, a:active {
  color: #696969;
  text-align: center;
}

.content {
  max-width: 500px;
  margin: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
 /* body{
  background-image: url("https://c402277.ssl.cf1.rackcdn.com/photos/18315/images/hero_full/Medium_WW230176.jpg?1576168323");
} */
</style>
<body>
  </head>

    <img src="https://c402277.ssl.cf1.rackcdn.com/photos/18315/images/hero_full/Medium_WW230176.jpg?1576168323" alt="Smiley face" class= "center" >
    <img src="./Images/avatar.jpg" alt="Smiley face" class= "center" >
    <div textfont = 30px width="200" style="text-align:center;"> Welcome!
    </div>
    <h1 style="text-align:center;">Song Recommendation</h1>


    <h4 style="text-align:center;"></h4>


    <h3 style="text-align:center;">Enter a song to get recommendations:</h3>

    <form method="POST" style="text-align:center;">
                    <input type="text" name="text" width="800"><br>
                    <br>
                    <input type="submit" value="submit"><br>
    </form>

    <a class="center" style="text-align:center;" href="https://github.com/jsherpa">GitHub</a>


  </body>
</html>
